<!DOCTYPE html>
<html class='use-all-space'>
    <meta http-equiv='X-UA-Compatible' content='IE=Edge' />
    <meta charset='UTF-8'>
    <title>My Map</title>
    <meta name='<!DOCTYPE html>'/>
<html class='use-all-space'/>
<head>
    <meta http-equiv='X-UA-Compatible' content='IE=Edge' />
    <meta charset='UTF-8'>
    <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.15.0/maps/maps-web.min.js'></script>
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.6.0/services/services-web.min.js"></script>
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/plugins/SearchBox/3.1.11/SearchBox-web.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    <title>My Map</title>
    <meta name='viewport'
          content='width=100%, height=device-height, initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.15.0/maps/maps.css'/>
    <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/plugins/SearchBox/3.1.11/SearchBox.css'>
    <style>
       #map {
           width: 100vw;
           height: 100vh;
       }
    </style>
</head>
<body>
    <div id='map' class='map'>
    </div>
    <script>
        const apiKey = '{{ api_key }}';
        const center = [{{ longitude }}, {{ latitude }}];

        let bestRoute;
        let p_o_i;

        const map = tt.map({
          key: apiKey,
          container: 'map',
          center: center,
          zoom: 13,
          style: {
                poi: 'poi_main',
                map: 'basic_night'
          },
          stylesVisibility: {
                poi: false
          }
        });


        var options = {
            idleTimePress: 500,
            minNumberOfCharacters: 5,
            searchOptions: {
                key:apiKey,
                language:"ru-RU",
                countrySet: "RUS",
                extendedPostalCodes: "None",
                idxSet: "Str,PAD",
                minFuzzyLevel: 2,
                maxFuzzyLevel: 3,
                resultSet: "category"
            },
            autocompleteOptions: {
                key:apiKey,
                language:"ru-RU",
                countrySet: "RUS",
                extendedPostalCodes: "None",
                resultSet: "category"
            },
            filterSearchResults: function (searchResult) {
                return Boolean(searchResult.address.municipality == "Москва"
                && searchResult.type == "Street" && typeof searchResult.address.postalCode !== 'undefined')
            },
            labels: {
                placeholder: 'Введите свой адрес',
                noResultsMessage: 'Нет результатов'
            }
        }

        var ttSearchBox = new tt.plugins.SearchBox(tt.services, options);
        var searchBoxHTML = ttSearchBox.getSearchBoxHTML();
        document.body.appendChild(searchBoxHTML);
        map.addControl(ttSearchBox, 'top-left');
        ttSearchBox.on('tomtom.searchbox.loadingstarted', function() {
            var req = ttSearchBox.getValue();
            if (req != '' && req.length >= 5) {
                options.searchOptions.query = "Москва, " + req;
                options.autocompleteOptions.query = "Москва, " + req;
                ttSearchBox.updateOptions(options);
                console.log(options.searchOptions.query);
            };
        });

        ttSearchBox.on('tomtom.searchbox.resultsfound', function(event) {
            var res1 = event.data.results.fuzzySearch.results;
            for (let i = 0; i < res1.length; i++) {
                console.log(res1[i]);
            };
        });

        function createPOI(name, coordinates) {
            return {
                name: name,
                coordinates: coordinates,
                icon: "<img src=static/images/pin.png style='width:55px; height:55px;'>"
            };
        }

        function displayPOI() {
            p_o_i = createPOI('test', [{{ closest_long }}, {{ closest_lat }}]);
        }

        function buildStyle(id, data, color, width) {
            return {
                'id': id,
                'type': 'line',
                'source': {
                    'type': 'geojson',
                    'data': data
                },
                'paint': {
                    'line-color': color,
                    'line-width': width
                },
                'layout': {
                    'line-cap': 'round',
                    'line-join': 'round'
                }
            }
        }

        function test(routeData){;
            map.on('load', function layer() {
                map.addLayer(buildStyle('0', routeData, 'red', 5));
            })
        }

        displayPOI();
        const target = document.createElement('div');
        target.innerHTML = p_o_i.icon;
        new tt.Marker({ element: target, offest: [0, 27]}).setLngLat(p_o_i.coordinates).addTo(map);
        test({{ route | safe}});

        ttSearchBox.on('tomtom.searchbox.resultselected', async function(event) {
            console.log('check');
            let formData = new FormData();
            formData.append("longitude", event.data.result['position']['lng']);
            formData.append("latitude", event.data.result['position']['lat']);
            let response = await fetch('/', {method: 'POST',
                body: formData});
            if (response.ok) {
                let result = await response.text();
                console.log(result);
            }
            else {
                console.log(response.status);
            }
        });

    </script>
</body>
<body>

</body>
</html>